{"openapi":"3.0.1","info":{"title":"Build integrations","description":"The API that enables syncing and viewing resources","termsOfService":"https://www.vanta.com/terms","contact":{"name":"API Support","url":"https://help.vanta.com/","email":"support@vanta.com"},"license":{"name":"Vanta Terms of Service","url":"https://www.vanta.com/terms"},"version":"0.0.1"},"x-readme":{"explorer-enabled":false},"servers":[{"url":"https://api.vanta.com"}],"security":[{"oauth":["connectors.self:read-resource","connectors.self:write-resource"]}],"components":{"securitySchemes":{"oauth":{"type":"oauth2","x-default":"vat_llamainapajama","flows":{"authorizationCode":{"authorizationUrl":"https://app.vanta.com/oauth/authorize","tokenUrl":"https://api.vanta.com/oauth/token","scopes":{"connectors.self:write-resource":"Send data to your account.","connectors.self:read-resource":"Read data from your account."}}}}}},"paths":{"/v1/resources/api_endpoint_vulnerability_connectors":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"occurrences":{"items":{"properties":{"description":{"type":"string","description":"Markdown description of this API endpoint vulnerability occurrence."},"fromUrl":{"type":"string","description":"The API endpoint URL associated with this vulnerability occurrence."},"queryParams":{"items":{"properties":{"key":{"type":"string","description":"The API query param key associated with this vulnerability occurrence."},"value":{"type":"string","description":"The API query param value associated with this vulnerability occurrence."}},"required":["key","value"]},"type":"array","description":"The API params associated with this vulnerability."},"headers":{"items":{"properties":{"key":{"type":"string","description":"The API header key associated with this vulnerability occurrence."},"value":{"type":"string","description":"The API header value associated with this vulnerability occurrence."}},"required":["key","value"]},"type":"array","description":"The API headers associated with this vulnerability."},"body":{"type":"string","description":"The body of the request passed to the API, with sensitive information redacted."}},"required":["description"]},"type":"array","description":"A list of occurrences of vulnerable API endpoints."},"severity":{"type":"number","format":"float","description":"The severity of the vulnerability, on a scale of 0 to 10. This will be rounded to the nearest tenth."},"vulnerableComponentUniqueId":{"type":"string","description":"A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`."},"description":{"type":"string","description":"A description of the vulnerability."},"remediationInstructions":{"type":"string","description":"Instructions for remediating the vulnerability."},"url":{"type":"string","description":"The vulnerable URL."},"httpMethod":{"type":"string","description":"The HTTP method (eg: GET, POST) associated with this vulnerability."},"cveId":{"type":"string","description":"The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."},"cvss3Vector":{"type":"string","description":"The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."},"cvss3Score":{"type":"number","format":"float","description":"The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."}},"required":["displayName","uniqueId","externalUrl","occurrences","severity","vulnerableComponentUniqueId","description","remediationInstructions","url","httpMethod"]}}}}}}}},"operationId":"get-ApiEndpointVulnerabilityConnectors","summary":"List all API Endpoint Vulnerabilities","description":"\nList `ApiEndpointVulnerabilityConnectors` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["API Endpoint Vulnerabilities"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"occurrences":{"items":{"properties":{"description":{"type":"string","description":"Markdown description of this API endpoint vulnerability occurrence."},"fromUrl":{"type":"string","description":"The API endpoint URL associated with this vulnerability occurrence."},"queryParams":{"items":{"properties":{"key":{"type":"string","description":"The API query param key associated with this vulnerability occurrence."},"value":{"type":"string","description":"The API query param value associated with this vulnerability occurrence."}},"required":["key","value"]},"type":"array","description":"The API params associated with this vulnerability."},"headers":{"items":{"properties":{"key":{"type":"string","description":"The API header key associated with this vulnerability occurrence."},"value":{"type":"string","description":"The API header value associated with this vulnerability occurrence."}},"required":["key","value"]},"type":"array","description":"The API headers associated with this vulnerability."},"body":{"type":"string","description":"The body of the request passed to the API, with sensitive information redacted."}},"required":["description"]},"type":"array","description":"A list of occurrences of vulnerable API endpoints."},"severity":{"type":"number","format":"float","description":"The severity of the vulnerability, on a scale of 0 to 10. This will be rounded to the nearest tenth."},"vulnerableComponentUniqueId":{"type":"string","description":"A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`."},"description":{"type":"string","description":"A description of the vulnerability."},"remediationInstructions":{"type":"string","description":"Instructions for remediating the vulnerability."},"url":{"type":"string","description":"The vulnerable URL."},"httpMethod":{"type":"string","description":"The HTTP method (eg: GET, POST) associated with this vulnerability."},"cveId":{"type":"string","description":"The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."},"cvss3Vector":{"type":"string","description":"The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."},"cvss3Score":{"type":"number","format":"float","description":"The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."}},"required":["displayName","uniqueId","externalUrl","occurrences","severity","vulnerableComponentUniqueId","description","remediationInstructions","url","httpMethod"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-ApiEndpointVulnerabilityConnectors","summary":"Sync all API Endpoint Vulnerabilities","description":"To send us data related to API endpoint vulnerabilities. Note that you must first sync `VulnerableComponent` resources before sending us this data, and this sync should reference the `uniqueId` field in the `VulnerableComponent` resource.\n\nThis call replaces ALL existing `ApiEndpointVulnerabilityConnectors` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `ApiEndpointVulnerabilityConnectors` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `ApiEndpointVulnerabilityConnectors`.","tags":["API Endpoint Vulnerabilities"]}},"/v1/resources/background_check_connector":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"fullName":{"type":"string","description":"The full name of the employee or contractor undergoing the background check."},"email":{"type":"string","description":"The email address of the employee or contractor undergoing the background check."},"status":{"description":"The current status of the background check.","enum":["INCOMPLETE","IN_PROGRESS","COMPLETE"]},"completionDate":{"type":"string","format":"date-time","description":"If complete, the date of completion of the background check."}},"required":["displayName","uniqueId","externalUrl","fullName","email","status"]}}}}}}}},"operationId":"get-BackgroundCheckConnector","summary":"List all Background Checks","description":"\nList `BackgroundCheckConnector` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["Background Checks"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"fullName":{"type":"string","description":"The full name of the employee or contractor undergoing the background check."},"email":{"type":"string","description":"The email address of the employee or contractor undergoing the background check."},"status":{"description":"The current status of the background check.","enum":["INCOMPLETE","IN_PROGRESS","COMPLETE"]},"completionDate":{"type":"string","format":"date-time","description":"If complete, the date of completion of the background check."}},"required":["displayName","uniqueId","externalUrl","fullName","email","status"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-BackgroundCheckConnector","summary":"Sync all Background Checks","description":"To send us data regarding employee/contractor background checks, you send us `BackgroundCheckConnector` resources. This helps us determine current background check statuses.\n\nThis call replaces ALL existing `BackgroundCheckConnector` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `BackgroundCheckConnector` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `BackgroundCheckConnector`.","tags":["Background Checks"]}},"/v1/resources/custom_resource":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."}},"required":["displayName","uniqueId","externalUrl"]}}}}}}}},"operationId":"get-CustomResource","summary":"List all Custom Resources","description":"\nList `CustomResource` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["Custom Resources"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."}},"required":["displayName","uniqueId","externalUrl"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-CustomResource","summary":"Sync all Custom Resources","description":"To send data of custom resource that you want to build custom tests on, use `CustomResource`.\n\nThis call replaces ALL existing `CustomResource` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `CustomResource` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `CustomResource`.","tags":["Custom Resources"]}},"/v1/resources/macos_user_computer":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"collectedTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the data being sent was collected from the host computer. In some cases, you may have staggered data collection for the various data being sent. In that case, feel free to use the latest collected timestamp for the individual data items to populate this field."},"osName":{"type":"string","description":"The OS name. Example: `MacOS Monterey`."},"osVersion":{"type":"string","description":"The OS version. Example: `Version 12.4`."},"hardwareUuid":{"type":"string","description":"The hardware UUID/UDID of the device."},"serialNumber":{"type":"string","description":"The hardware serial number of the device."},"applications":{"items":{"properties":{"name":{"type":"string","description":"The name of the application."},"bundleId":{"type":"string","description":"The bundle identifier of the application."},"lastOpenedTimestamp":{"type":"string","format":"date-time","description":"The last time the application was opened."}},"required":["name","bundleId"]},"type":"array","description":"All the installed Mac Apps on the system."},"browserExtensions":{"items":{"properties":{"extensionId":{"type":"string","description":"The identifier of the browser extension."},"name":{"type":"string","description":"The name of the browser extension."},"browser":{"description":"The type of browser. If you see something not on this list - if the browser is chromium based, use Chrome. Otherwise, skip sending the extension and contact Vanta for a longer term addition to this enum.","enum":["CHROME","FIREFOX","OPERA","SAFARI","EDGE"]}},"required":["extensionId","name","browser"]},"type":"array","description":"A list of browser extensions on this device. Used to match against known password managers to demonstrate use."},"drives":{"items":{"properties":{"name":{"type":"string","description":"The name of the drive."},"encrypted":{"type":"boolean","description":"Does the drive have some sort of encryption on it."},"filevaultEnabled":{"type":"boolean","description":"Does the drive have filevault enabled."},"isBootVolume":{"type":"boolean","description":"Metadata about the boot volume helps Vanta skip checking volumes that aren't relevant, like USB Drives."}},"required":["name","encrypted","filevaultEnabled"]},"type":"array","description":"A list of drives on this device. Used to verify encryption status."},"users":{"items":{"properties":{"username":{"type":"string","description":"The user's username. Does not have to be unique."},"screenlockPolicies":{"items":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"type":"array","description":"If the source system cannot easily retrieve screenlock policies, it's OK to skip this data."},"screenlockSettings":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"lastLoginTimestamp":{"type":"string","format":"date-time","description":"The last time the user logged in to the device, if available."}},"required":["username","screenlockPolicies","screenlockSettings"]},"type":"array","description":"The human users of the system. If it's not feasible to send only human users, prefer skipping sending users entirely."},"systemScreenlockPolicies":{"items":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"type":"array","description":"System screenlock policy settings. Pass an empty list if this is tricky to retrieve for your system. Used for screenlock tests."},"isManaged":{"type":"boolean","description":"Is the system managed by a Mobile Device Management system."},"autoUpdatesEnabled":{"type":"boolean","description":"Does the system have auto-updates enabled."},"owner":{"type":"string","description":"The email address of the owner of the system, if it's known."},"passwordPolicy":{"properties":{"minimumLengthRequirement":{"type":"integer","format":"int32","description":"If the system has a password policy, what the minimum password length requirement is."}},"required":["minimumLengthRequirement"]},"lastEnrolledTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the host computer was last enrolled within your system. If the computer has been un-enrolled and then re-enrolled, send data for the most recent enrollment."},"isXProtectEnabled":{"type":"boolean","description":"Is XProtect enabled on the system."}},"required":["displayName","uniqueId","externalUrl","collectedTimestamp","osName","osVersion","hardwareUuid","serialNumber","applications","browserExtensions","drives","users","systemScreenlockPolicies","isManaged","autoUpdatesEnabled"]}}}}}}}},"operationId":"get-MacosUserComputer","summary":"List all MacOS User Computers","description":"\nList `MacosUserComputer` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["MacOS User Computers"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"collectedTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the data being sent was collected from the host computer. In some cases, you may have staggered data collection for the various data being sent. In that case, feel free to use the latest collected timestamp for the individual data items to populate this field."},"osName":{"type":"string","description":"The OS name. Example: `MacOS Monterey`."},"osVersion":{"type":"string","description":"The OS version. Example: `Version 12.4`."},"hardwareUuid":{"type":"string","description":"The hardware UUID/UDID of the device."},"serialNumber":{"type":"string","description":"The hardware serial number of the device."},"applications":{"items":{"properties":{"name":{"type":"string","description":"The name of the application."},"bundleId":{"type":"string","description":"The bundle identifier of the application."},"lastOpenedTimestamp":{"type":"string","format":"date-time","description":"The last time the application was opened."}},"required":["name","bundleId"]},"type":"array","description":"All the installed Mac Apps on the system."},"browserExtensions":{"items":{"properties":{"extensionId":{"type":"string","description":"The identifier of the browser extension."},"name":{"type":"string","description":"The name of the browser extension."},"browser":{"description":"The type of browser. If you see something not on this list - if the browser is chromium based, use Chrome. Otherwise, skip sending the extension and contact Vanta for a longer term addition to this enum.","enum":["CHROME","FIREFOX","OPERA","SAFARI","EDGE"]}},"required":["extensionId","name","browser"]},"type":"array","description":"A list of browser extensions on this device. Used to match against known password managers to demonstrate use."},"drives":{"items":{"properties":{"name":{"type":"string","description":"The name of the drive."},"encrypted":{"type":"boolean","description":"Does the drive have some sort of encryption on it."},"filevaultEnabled":{"type":"boolean","description":"Does the drive have filevault enabled."},"isBootVolume":{"type":"boolean","description":"Metadata about the boot volume helps Vanta skip checking volumes that aren't relevant, like USB Drives."}},"required":["name","encrypted","filevaultEnabled"]},"type":"array","description":"A list of drives on this device. Used to verify encryption status."},"users":{"items":{"properties":{"username":{"type":"string","description":"The user's username. Does not have to be unique."},"screenlockPolicies":{"items":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"type":"array","description":"If the source system cannot easily retrieve screenlock policies, it's OK to skip this data."},"screenlockSettings":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"lastLoginTimestamp":{"type":"string","format":"date-time","description":"The last time the user logged in to the device, if available."}},"required":["username","screenlockPolicies","screenlockSettings"]},"type":"array","description":"The human users of the system. If it's not feasible to send only human users, prefer skipping sending users entirely."},"systemScreenlockPolicies":{"items":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"type":"array","description":"System screenlock policy settings. Pass an empty list if this is tricky to retrieve for your system. Used for screenlock tests."},"isManaged":{"type":"boolean","description":"Is the system managed by a Mobile Device Management system."},"autoUpdatesEnabled":{"type":"boolean","description":"Does the system have auto-updates enabled."},"owner":{"type":"string","description":"The email address of the owner of the system, if it's known."},"passwordPolicy":{"properties":{"minimumLengthRequirement":{"type":"integer","format":"int32","description":"If the system has a password policy, what the minimum password length requirement is."}},"required":["minimumLengthRequirement"]},"lastEnrolledTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the host computer was last enrolled within your system. If the computer has been un-enrolled and then re-enrolled, send data for the most recent enrollment."},"isXProtectEnabled":{"type":"boolean","description":"Is XProtect enabled on the system."}},"required":["displayName","uniqueId","externalUrl","collectedTimestamp","osName","osVersion","hardwareUuid","serialNumber","applications","browserExtensions","drives","users","systemScreenlockPolicies","isManaged","autoUpdatesEnabled"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-MacosUserComputer","summary":"Sync all MacOS User Computers","description":"To send us data related to employee/contractor MacOS computers, you send us `MacosUserComputer` resources. This helps us determine important security properties, like whether devices have encrypted drives, have anti-virus installed or have password managers installed.\n\nThis call replaces ALL existing `MacosUserComputer` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `MacosUserComputer` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `MacosUserComputer`.","tags":["MacOS User Computers"]}},"/v1/resources/package_vulnerability_connectors":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"packageName":{"type":"string","description":"The name of the package associated with the vulnerability."},"packageVersion":{"type":"string","description":"The version of the package associated with the vulnerability."},"severity":{"type":"number","format":"float","description":"The severity of the vulnerability, on a scale of 0 to 10. This will be rounded to the nearest tenth."},"vulnerableComponentUniqueId":{"type":"string","description":"A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`."},"description":{"type":"string","description":"A description of the vulnerability."},"isResolvable":{"type":"boolean","description":"Whether the vulnerability can be resolved."},"remediationInstructions":{"type":"string","description":"Instructions for remediating the vulnerability."},"isReachable":{"type":"boolean","description":"Whether there is a code path to the vulnerable code in this package. This field is optional."},"cveId":{"type":"string","description":"The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."},"cvss3Vector":{"type":"string","description":"The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."},"cvss3Score":{"type":"number","format":"float","description":"The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."}},"required":["displayName","uniqueId","externalUrl","packageName","packageVersion","severity","vulnerableComponentUniqueId","description","isResolvable","remediationInstructions"]}}}}}}}},"operationId":"get-PackageVulnerabilityConnectors","summary":"List all Package Vulnerabilities","description":"\nList `PackageVulnerabilityConnectors` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["Package Vulnerabilities"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"packageName":{"type":"string","description":"The name of the package associated with the vulnerability."},"packageVersion":{"type":"string","description":"The version of the package associated with the vulnerability."},"severity":{"type":"number","format":"float","description":"The severity of the vulnerability, on a scale of 0 to 10. This will be rounded to the nearest tenth."},"vulnerableComponentUniqueId":{"type":"string","description":"A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`."},"description":{"type":"string","description":"A description of the vulnerability."},"isResolvable":{"type":"boolean","description":"Whether the vulnerability can be resolved."},"remediationInstructions":{"type":"string","description":"Instructions for remediating the vulnerability."},"isReachable":{"type":"boolean","description":"Whether there is a code path to the vulnerable code in this package. This field is optional."},"cveId":{"type":"string","description":"The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."},"cvss3Vector":{"type":"string","description":"The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."},"cvss3Score":{"type":"number","format":"float","description":"The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."}},"required":["displayName","uniqueId","externalUrl","packageName","packageVersion","severity","vulnerableComponentUniqueId","description","isResolvable","remediationInstructions"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-PackageVulnerabilityConnectors","summary":"Sync all Package Vulnerabilities","description":"To send us data related to package vulnerabilities. Note that you must first sync `VulnerableComponent` resources before sending us this data, and this sync should reference the `uniqueId` field in the `VulnerableComponent` resource.\n\nThis call replaces ALL existing `PackageVulnerabilityConnectors` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `PackageVulnerabilityConnectors` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `PackageVulnerabilityConnectors`.","tags":["Package Vulnerabilities"]}},"/v1/resources/secret":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"name":{"type":"string","description":"The name of the secret."},"description":{"type":"string","description":"A short description of the secret, if any."},"createdTimestamp":{"type":"string","format":"date-time","description":"When the secret was created."},"creator":{"type":"string","description":"The creator of the secret."},"owner":{"type":"string","description":"The current owner of the secret. Vanta will check that every secret has a valid owner."},"updatedTimestamp":{"type":"string","format":"date-time","description":"When the secret was last updated."},"lastAccessedTimestamp":{"type":"string","format":"date-time","description":"When the secret was last accessed."},"expiresTimestamp":{"type":"string","format":"date-time","description":"When the secret is set to expire, if relevant."}},"required":["displayName","uniqueId","externalUrl","name","description","createdTimestamp","creator","owner"]}}}}}}}},"operationId":"get-Secret","summary":"List all secrets","description":"\nList `Secret` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["Secrets"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"name":{"type":"string","description":"The name of the secret."},"description":{"type":"string","description":"A short description of the secret, if any."},"createdTimestamp":{"type":"string","format":"date-time","description":"When the secret was created."},"creator":{"type":"string","description":"The creator of the secret."},"owner":{"type":"string","description":"The current owner of the secret. Vanta will check that every secret has a valid owner."},"updatedTimestamp":{"type":"string","format":"date-time","description":"When the secret was last updated."},"lastAccessedTimestamp":{"type":"string","format":"date-time","description":"When the secret was last accessed."},"expiresTimestamp":{"type":"string","format":"date-time","description":"When the secret is set to expire, if relevant."}},"required":["displayName","uniqueId","externalUrl","name","description","createdTimestamp","creator","owner"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-Secret","summary":"Sync all secrets","description":"To send metadata of a secret used to access applications or infrastructure, use `Secret`.\n\nThis call replaces ALL existing `Secret` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `Secret` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `Secret`.","tags":["Secrets"]}},"/v1/resources/security_task":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"taskId":{"type":"string","description":"The task ID, as present in the source application. This will be shown in Vanta to help customers match tasks if necessary."},"taskTitle":{"type":"string","description":"The title of the task, as present in the source application. This will be shown in Vanta to help customers match tasks if necessary."},"createdTimestamp":{"type":"string","format":"date-time","description":"When the task was created."},"taskState":{"description":"The status of the task. If your application supports additional states, use the closest approximation.","enum":["OPEN","IN_PROGRESS","CLOSED"]},"priority":{"description":"Priorities are mapped against SLAs for tasks. If your task system does not have fixed priorities, consider letting users configure priorities through labels.","enum":["P0","P1","P2","P3","P4"]},"assignees":{"items":{"type":"string","description":"Email address of the assignee."},"type":"array","description":"The set of users assigned to the tasks. Emails do not necessarily need to be Vanta users."},"creator":{"type":"string","description":"The creator of the task."},"labels":{"items":{"type":"string","description":"Each tag."},"type":"array","description":"The set of task tags or labels."},"closedTimestamp":{"type":"string","format":"date-time","description":"When the task was closed, if the task was closed. Required if `taskState` is `CLOSED`, otherwise must be absent."},"updatedTimestamp":{"type":"string","format":"date-time","description":"When the task was last updated."}},"required":["displayName","uniqueId","externalUrl","taskId","taskTitle","createdTimestamp","taskState","priority","assignees","creator","labels"]}}}}}}}},"operationId":"get-SecurityTask","summary":"List all security tasks","description":"\nList `SecurityTask` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["Security Tasks"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"taskId":{"type":"string","description":"The task ID, as present in the source application. This will be shown in Vanta to help customers match tasks if necessary."},"taskTitle":{"type":"string","description":"The title of the task, as present in the source application. This will be shown in Vanta to help customers match tasks if necessary."},"createdTimestamp":{"type":"string","format":"date-time","description":"When the task was created."},"taskState":{"description":"The status of the task. If your application supports additional states, use the closest approximation.","enum":["OPEN","IN_PROGRESS","CLOSED"]},"priority":{"description":"Priorities are mapped against SLAs for tasks. If your task system does not have fixed priorities, consider letting users configure priorities through labels.","enum":["P0","P1","P2","P3","P4"]},"assignees":{"items":{"type":"string","description":"Email address of the assignee."},"type":"array","description":"The set of users assigned to the tasks. Emails do not necessarily need to be Vanta users."},"creator":{"type":"string","description":"The creator of the task."},"labels":{"items":{"type":"string","description":"Each tag."},"type":"array","description":"The set of task tags or labels."},"closedTimestamp":{"type":"string","format":"date-time","description":"When the task was closed, if the task was closed. Required if `taskState` is `CLOSED`, otherwise must be absent."},"updatedTimestamp":{"type":"string","format":"date-time","description":"When the task was last updated."}},"required":["displayName","uniqueId","externalUrl","taskId","taskTitle","createdTimestamp","taskState","priority","assignees","creator","labels"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-SecurityTask","summary":"Sync all security tasks","description":"To send us data related to security relevant tasks/follow-ups your system, you send us `SecurityTask` resources. This helps us determine whether security relevant tasks are being completed in a timely manner.\n\nThis call replaces ALL existing `SecurityTask` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `SecurityTask` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `SecurityTask`.","tags":["Security Tasks"]}},"/v1/resources/static_analysis_code_vulnerability_connectors":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"occurrences":{"items":{"properties":{"path":{"type":"string","description":"The path to the file where the vulnerability was found."},"beginLine":{"type":"integer","format":"int32","description":"The line number where the vulnerability begins."},"endLine":{"type":"integer","format":"int32","description":"The line number where the vulnerability ends."},"beginColumn":{"type":"integer","format":"int32","description":"The column number where the vulnerability begins."},"endColumn":{"type":"integer","format":"int32","description":"The column number where the vulnerability ends."}},"required":["path","beginLine","endLine","beginColumn","endColumn"]},"type":"array","description":"The path to each point in the source code where a vulnerability has been revealed through static analysis."},"severity":{"type":"integer","format":"int32","description":"The severity of the vulnerability, on a scale of 0 to 10."},"confidence":{"type":"integer","format":"int32","description":"The confidence in the vulnerability, on a scale of 0-10."},"isResolvable":{"type":"boolean","description":"Whether the vulnerability can be resolved."},"vulnerableComponentUniqueId":{"type":"string","description":"A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`."},"description":{"type":"string","description":"A description of the vulnerability."},"remediationInstructions":{"type":"string","description":"Instructions for remediating the vulnerability."},"cveId":{"type":"string","description":"The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."},"cvss3Vector":{"type":"string","description":"The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."},"cvss3Score":{"type":"number","format":"float","description":"The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."}},"required":["displayName","uniqueId","externalUrl","occurrences","severity","confidence","isResolvable","vulnerableComponentUniqueId","description","remediationInstructions"]}}}}}}}},"operationId":"get-StaticAnalysisCodeVulnerabilityConnectors","summary":"List all Static Code Analysis Vulnerabilities","description":"\nList `StaticAnalysisCodeVulnerabilityConnectors` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["Static Code Analysis Vulnerabilities"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"occurrences":{"items":{"properties":{"path":{"type":"string","description":"The path to the file where the vulnerability was found."},"beginLine":{"type":"integer","format":"int32","description":"The line number where the vulnerability begins."},"endLine":{"type":"integer","format":"int32","description":"The line number where the vulnerability ends."},"beginColumn":{"type":"integer","format":"int32","description":"The column number where the vulnerability begins."},"endColumn":{"type":"integer","format":"int32","description":"The column number where the vulnerability ends."}},"required":["path","beginLine","endLine","beginColumn","endColumn"]},"type":"array","description":"The path to each point in the source code where a vulnerability has been revealed through static analysis."},"severity":{"type":"integer","format":"int32","description":"The severity of the vulnerability, on a scale of 0 to 10."},"confidence":{"type":"integer","format":"int32","description":"The confidence in the vulnerability, on a scale of 0-10."},"isResolvable":{"type":"boolean","description":"Whether the vulnerability can be resolved."},"vulnerableComponentUniqueId":{"type":"string","description":"A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`."},"description":{"type":"string","description":"A description of the vulnerability."},"remediationInstructions":{"type":"string","description":"Instructions for remediating the vulnerability."},"cveId":{"type":"string","description":"The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."},"cvss3Vector":{"type":"string","description":"The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."},"cvss3Score":{"type":"number","format":"float","description":"The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."}},"required":["displayName","uniqueId","externalUrl","occurrences","severity","confidence","isResolvable","vulnerableComponentUniqueId","description","remediationInstructions"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-StaticAnalysisCodeVulnerabilityConnectors","summary":"Sync all Static Code Analysis Vulnerabilities","description":"To send us data related to static code analysis vulnerabilities. Note that you must first sync `VulnerableComponent` resources before sending us this data, and this sync should reference the `uniqueId` field in the `VulnerableComponent` resource.\n\nThis call replaces ALL existing `StaticAnalysisCodeVulnerabilityConnectors` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `StaticAnalysisCodeVulnerabilityConnectors` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `StaticAnalysisCodeVulnerabilityConnectors`.","tags":["Static Code Analysis Vulnerabilities"]}},"/v1/resources/user_account":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"fullName":{"type":"string","description":"The full name of the corresponding user. If your system splits name by given name and family name, send us space separated values."},"accountName":{"type":"string","description":"In case a fullName is not relevant, like a machine account, populate this field."},"email":{"type":"string","description":"The email address of the user. This lets us connect accounts to Vanta users."},"permissionLevel":{"description":"What the permission level of the user is. If your system supports more advanced roles, find the closest approximation. This will be used to help populate Vanta access reviews and help customers ensure that the right set of users have access to their relevant systems.","enum":["ADMIN","EDITOR","BASE"]},"createdTimestamp":{"type":"string","format":"date-time","description":"The time at which this user was created in the system."},"status":{"description":"The status of the user. It's acceptable to omit any deactivated users from your application, but if your application has access to deactivated users, it's preferable to send them over with this status.","enum":["ACTIVE","DEACTIVATED"]},"mfaEnabled":{"type":"boolean","description":"This value is ignored if `authMethod` is SSO."},"mfaMethods":{"items":{"description":"The individual MFA setting.","enum":["UNSUPPORTED","DISABLED","SMS","EMAIL","OTP","HARDWARE_TOKEN","PUSH_PROMPT"]},"type":"array","description":"The MFA settings of the user. This helps customers verify that their users are adequately protecting their accounts. This value is ignored if authMethod is SSO."},"authMethod":{"description":"How the user logs into the system. This is useful for us to validate security properties, like ensuring MFA is enabled if the user logs in with a password.","enum":["SSO","PASSWORD","TOKEN","BIOMETRIC"]},"roleDescription":{"type":"string","description":"A human readable description of the user's role."},"updatedTimestamp":{"type":"string","format":"date-time","description":"The last time the user was updated in the system."},"deactivatedTimestamp":{"type":"string","format":"date-time","description":"If the user is deactivated, the timestamp of that deactivation."},"lastLoginTimestamp":{"type":"string","format":"date-time","description":"The time at which the user last logged in."},"lastPasswordResetTimestamp":{"type":"string","format":"date-time","description":"The time at which the user last reset their password. Helps with future Vanta functionality."},"groupIds":{"items":{"type":"string","description":"The individual group identifier."},"type":"array","description":"If the user belongs to any groups/teams in the product, those corresponding group IDs. We'll map these to groups in our product in the future."}},"required":["displayName","uniqueId","externalUrl","fullName","accountName","email","permissionLevel","createdTimestamp","status","mfaEnabled","mfaMethods","authMethod"]}}}}}}}},"operationId":"get-UserAccount","summary":"List all user accounts","description":"\nList `UserAccount` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["User Accounts"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"fullName":{"type":"string","description":"The full name of the corresponding user. If your system splits name by given name and family name, send us space separated values."},"accountName":{"type":"string","description":"In case a fullName is not relevant, like a machine account, populate this field."},"email":{"type":"string","description":"The email address of the user. This lets us connect accounts to Vanta users."},"permissionLevel":{"description":"What the permission level of the user is. If your system supports more advanced roles, find the closest approximation. This will be used to help populate Vanta access reviews and help customers ensure that the right set of users have access to their relevant systems.","enum":["ADMIN","EDITOR","BASE"]},"createdTimestamp":{"type":"string","format":"date-time","description":"The time at which this user was created in the system."},"status":{"description":"The status of the user. It's acceptable to omit any deactivated users from your application, but if your application has access to deactivated users, it's preferable to send them over with this status.","enum":["ACTIVE","DEACTIVATED"]},"mfaEnabled":{"type":"boolean","description":"This value is ignored if `authMethod` is SSO."},"mfaMethods":{"items":{"description":"The individual MFA setting.","enum":["UNSUPPORTED","DISABLED","SMS","EMAIL","OTP","HARDWARE_TOKEN","PUSH_PROMPT"]},"type":"array","description":"The MFA settings of the user. This helps customers verify that their users are adequately protecting their accounts. This value is ignored if authMethod is SSO."},"authMethod":{"description":"How the user logs into the system. This is useful for us to validate security properties, like ensuring MFA is enabled if the user logs in with a password.","enum":["SSO","PASSWORD","TOKEN","BIOMETRIC"]},"roleDescription":{"type":"string","description":"A human readable description of the user's role."},"updatedTimestamp":{"type":"string","format":"date-time","description":"The last time the user was updated in the system."},"deactivatedTimestamp":{"type":"string","format":"date-time","description":"If the user is deactivated, the timestamp of that deactivation."},"lastLoginTimestamp":{"type":"string","format":"date-time","description":"The time at which the user last logged in."},"lastPasswordResetTimestamp":{"type":"string","format":"date-time","description":"The time at which the user last reset their password. Helps with future Vanta functionality."},"groupIds":{"items":{"type":"string","description":"The individual group identifier."},"type":"array","description":"If the user belongs to any groups/teams in the product, those corresponding group IDs. We'll map these to groups in our product in the future."}},"required":["displayName","uniqueId","externalUrl","fullName","accountName","email","permissionLevel","createdTimestamp","status","mfaEnabled","mfaMethods","authMethod"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-UserAccount","summary":"Sync all user accounts","description":"To send us data related to users in your system, you send us `UserAccount` resources. Every partner must send us `UserAccount` resources. This helps us determine whether users have appropriate levels of access and have a secure authentication mechanism.\n\nThis call replaces ALL existing `UserAccount` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `UserAccount` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and it is \"deletedAt\" time in is set to that of the `sync_all` call. The resource will still show in the Vanta UI as a Deactivated `UserAccount`, and `list_all` calls.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `UserAccount`.","tags":["User Accounts"]}},"/v1/resources/user_security_training_status":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"trainingId":{"type":"string","description":"A stable ID of a training or a course. For example: gdpr-training-123."},"trainingName":{"type":"string","description":"The name of the training. For example: \"GDPR Training\"."},"frameworksFulfilled":{"items":{"description":"The individual framework.","enum":["SOC2","ISO27001","HIPAA","PCI","GDPR","CCPA"]},"type":"array","description":"The set of compliance or other framework requirements that can be satisfied when an employee completes this training."},"traineeFullName":{"type":"string","description":"The name of the user completing the training."},"traineeAccountName":{"type":"string","description":"The account name of the user completing the training. This field is mostly useful if the trainee doesn't have a name associated, but has an associated account with a username."},"traineeEmail":{"type":"string","description":"The email address of the user completing the training."},"status":{"description":"Whether the training has been fully completed.","enum":["INCOMPLETE","COMPLETE"]},"trainingCreatedTimestamp":{"type":"string","format":"date-time","description":"The time at which this training course was created. This field is useful as identifying metadata."},"trainingDueTimestamp":{"type":"string","format":"date-time","description":"The time at which this training course is due for the user. Vanta will check whether employees complete their training on time."},"trainingCompletedTimestamp":{"type":"string","format":"date-time","description":"The time at which this training course was completed by the user."}},"required":["displayName","uniqueId","externalUrl","trainingId","trainingName","frameworksFulfilled","traineeFullName","traineeAccountName","traineeEmail","status","trainingCreatedTimestamp","trainingDueTimestamp"]}}}}}}}},"operationId":"get-UserSecurityTrainingStatus","summary":"List all user security training statuses","description":"\nList `UserSecurityTrainingStatus` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["User Security Training Statuses"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"trainingId":{"type":"string","description":"A stable ID of a training or a course. For example: gdpr-training-123."},"trainingName":{"type":"string","description":"The name of the training. For example: \"GDPR Training\"."},"frameworksFulfilled":{"items":{"description":"The individual framework.","enum":["SOC2","ISO27001","HIPAA","PCI","GDPR","CCPA"]},"type":"array","description":"The set of compliance or other framework requirements that can be satisfied when an employee completes this training."},"traineeFullName":{"type":"string","description":"The name of the user completing the training."},"traineeAccountName":{"type":"string","description":"The account name of the user completing the training. This field is mostly useful if the trainee doesn't have a name associated, but has an associated account with a username."},"traineeEmail":{"type":"string","description":"The email address of the user completing the training."},"status":{"description":"Whether the training has been fully completed.","enum":["INCOMPLETE","COMPLETE"]},"trainingCreatedTimestamp":{"type":"string","format":"date-time","description":"The time at which this training course was created. This field is useful as identifying metadata."},"trainingDueTimestamp":{"type":"string","format":"date-time","description":"The time at which this training course is due for the user. Vanta will check whether employees complete their training on time."},"trainingCompletedTimestamp":{"type":"string","format":"date-time","description":"The time at which this training course was completed by the user."}},"required":["displayName","uniqueId","externalUrl","trainingId","trainingName","frameworksFulfilled","traineeFullName","traineeAccountName","traineeEmail","status","trainingCreatedTimestamp","trainingDueTimestamp"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-UserSecurityTrainingStatus","summary":"Sync all user security training statuses","description":"To send us data related to security trainings, you send us `UserSecurityTrainingStatus` resources. This helps us determine whether users have completed their security and compliance trainings in a timely manner.\n\nThis call replaces ALL existing `UserSecurityTrainingStatus` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `UserSecurityTrainingStatus` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `UserSecurityTrainingStatus`.","tags":["User Security Training Statuses"]}},"/v1/resources/vulnerable_component":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"collectedTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the data being sent was collected from the vulnerable component. In some cases, you may have staggered data collection for the various data being sent. In that case, feel free to use the latest collected timestamp for the individual data items to populate this field."},"name":{"type":"string","description":"The name of the system component in which a vulnerability has been detected."},"description":{"type":"string","description":"Description of the system component in which a vulnerability has been detected."},"targetType":{"description":"The type of the system component in which a vulnerability has been detected (eg: container, source code repository).","enum":["HOST","SERVER","CONTAINER","CONTAINER_REPOSITORY","CONTAINER_REPOSITORY_IMAGE","CODE_REPOSITORY","SERVERLESS_FUNCTION","MANIFEST_FILE","WORKSTATION"]}},"required":["displayName","uniqueId","externalUrl","collectedTimestamp","name","description","targetType"]}}}}}}}},"operationId":"get-VulnerableComponent","summary":"List all Vulnerable Components","description":"\nList `VulnerableComponent` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["Vulnerable Components"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"collectedTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the data being sent was collected from the vulnerable component. In some cases, you may have staggered data collection for the various data being sent. In that case, feel free to use the latest collected timestamp for the individual data items to populate this field."},"name":{"type":"string","description":"The name of the system component in which a vulnerability has been detected."},"description":{"type":"string","description":"Description of the system component in which a vulnerability has been detected."},"targetType":{"description":"The type of the system component in which a vulnerability has been detected (eg: container, source code repository).","enum":["HOST","SERVER","CONTAINER","CONTAINER_REPOSITORY","CONTAINER_REPOSITORY_IMAGE","CODE_REPOSITORY","SERVERLESS_FUNCTION","MANIFEST_FILE","WORKSTATION"]}},"required":["displayName","uniqueId","externalUrl","collectedTimestamp","name","description","targetType"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-VulnerableComponent","summary":"Sync all Vulnerable Components","description":"To send us data related to system components that have vulnerabilities.\n\nThis call replaces ALL existing `VulnerableComponent` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `VulnerableComponent` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `VulnerableComponent`.","tags":["Vulnerable Components"]}},"/v1/resources/windows_user_computer":{"get":{"parameters":[{"name":"resourceId","in":"query","schema":{"type":"string"},"required":true,"description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"}],"responses":{"200":{"description":"List of resources.","content":{"application/json":{"schema":{"type":"object","properties":{"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"collectedTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the data being sent was collected from the host computer. In some cases, you may have staggered data collection for the various data being sent. In that case, feel free to use the latest collected timestamp for the individual data items to populate this field."},"osName":{"type":"string","description":"The OS name. Example: `Windows 11`."},"osVersion":{"type":"string","description":"The OS version. Example: `Version 10.0.22621`."},"hardwareUuid":{"type":"string","description":"The hardware UUID/UDID of the device."},"serialNumber":{"type":"string","description":"The hardware serial number of the device."},"programs":{"items":{"properties":{"name":{"type":"string","description":"The name of the application."},"lastOpenedTimestamp":{"type":"string","format":"date-time","description":"The last time the application was opened."}},"required":["name"]},"type":"array","description":"All the installed programs on the Windows system."},"browserExtensions":{"items":{"properties":{"extensionId":{"type":"string","description":"The identifier of the browser extension."},"name":{"type":"string","description":"The name of the browser extension."},"browser":{"description":"The type of browser. If you see something not on this list - if the browser is chromium based, use Chrome. Otherwise, skip sending the extension and contact Vanta for a longer term addition to this enum.","enum":["CHROME","FIREFOX","OPERA","SAFARI","EDGE"]}},"required":["extensionId","name","browser"]},"type":"array","description":"A list of browser extensions on this device. Used to match against known password managers to demonstrate use."},"drives":{"items":{"properties":{"name":{"type":"string","description":"The name of the drive."},"encrypted":{"type":"boolean","description":"Does the drive have some sort of encryption on it."},"isBootVolume":{"type":"boolean","description":"Metadata about the boot volume helps Vanta skip checking volumes that aren't relevant, like USB Drives."}},"required":["name","encrypted"]},"type":"array","description":"A list of drives on this device. Used to verify encryption status."},"users":{"items":{"properties":{"username":{"type":"string","description":"The user's username. Does not have to be unique."},"screenlockPolicies":{"items":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"type":"array","description":"If the source system cannot easily retrieve screenlock policies, it's OK to skip this data."},"screenlockSettings":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"lastLoginTimestamp":{"type":"string","format":"date-time","description":"The last time the user logged in to the device, if available."}},"required":["username","screenlockPolicies","screenlockSettings"]},"type":"array","description":"The human users of the system. If it's not feasible to send only human users, prefer skipping sending users entirely."},"systemScreenlockPolicies":{"items":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"type":"array","description":"System screenlock policy settings. Pass an empty list if this is tricky to retrieve for your system. Used for screenlock tests."},"isManaged":{"type":"boolean","description":"Is the system managed by a Mobile Device Management system."},"autoUpdatesEnabled":{"type":"boolean","description":"Does the system have auto-updates enabled."},"owner":{"type":"string","description":"The email address of the owner of the system, if it's known."},"passwordPolicy":{"properties":{"minimumLengthRequirement":{"type":"integer","format":"int32","description":"If the system has a password policy, what the minimum password length requirement is."}},"required":["minimumLengthRequirement"]},"lastEnrolledTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the host computer was last enrolled within your system. If the computer has been un-enrolled and then re-enrolled, send data for the most recent enrollment."},"windowsSecurityProducts":{"items":{"properties":{"name":{"type":"string","description":"The name of the security product."},"category":{"description":"The category of the security product.","enum":["FIREWALL","ANTIVIRUS","ANTISPYWARE"]},"state":{"description":"The state of the security product.","enum":["ON","OFF","UNKNOWN"]},"stateTimestamp":{"type":"string","format":"date-time","description":"When this data was collected."},"signaturesUpToDate":{"type":"boolean","description":"Whether the security signatures are up to date."}},"required":["name","category","state","stateTimestamp","signaturesUpToDate"]},"type":"array","description":"A list of services that are monitored by Windows Security Center (WSC)."},"windowsSecurityCenter":{"properties":{"firewall":{"description":"The health of the monitored Firewall.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"autoupdate":{"description":"The health of the Windows Autoupdate feature.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"antivirus":{"description":"The health of the monitored Antivirus solution.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"internetSetting":{"description":"The health of the Internet Settings.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"userAccountControl":{"description":"The health of the User Account Control (UAC) capability in Windows.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"windowsSecurityCenterService":{"description":"The health of the Windows Security Center Service.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]}},"required":["firewall","autoupdate","antivirus","internetSetting","userAccountControl","windowsSecurityCenterService"]}},"required":["displayName","uniqueId","externalUrl","collectedTimestamp","osName","osVersion","hardwareUuid","serialNumber","programs","browserExtensions","drives","users","systemScreenlockPolicies","isManaged","autoUpdatesEnabled"]}}}}}}}},"operationId":"get-WindowsUserComputer","summary":"List all Windows User Computers","description":"\nList `WindowsUserComputer` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```\n","tags":["Windows User Computers"]},"put":{"requestBody":{"description":"List of resources to sync","required":true,"content":{"application/json":{"schema":{"type":"object","required":["resourceId","resources"],"properties":{"resourceId":{"type":"string","description":"Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"},"resources":{"type":"array","items":{"properties":{"displayName":{"type":"string","description":"A human readable label for this resource - will be shown as-is in inventory page."},"uniqueId":{"type":"string","description":"A stable global identifier for this resource."},"externalUrl":{"type":"string","description":"A link to this resource on the partner site. This must be a HTTPS URL."},"collectedTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the data being sent was collected from the host computer. In some cases, you may have staggered data collection for the various data being sent. In that case, feel free to use the latest collected timestamp for the individual data items to populate this field."},"osName":{"type":"string","description":"The OS name. Example: `Windows 11`."},"osVersion":{"type":"string","description":"The OS version. Example: `Version 10.0.22621`."},"hardwareUuid":{"type":"string","description":"The hardware UUID/UDID of the device."},"serialNumber":{"type":"string","description":"The hardware serial number of the device."},"programs":{"items":{"properties":{"name":{"type":"string","description":"The name of the application."},"lastOpenedTimestamp":{"type":"string","format":"date-time","description":"The last time the application was opened."}},"required":["name"]},"type":"array","description":"All the installed programs on the Windows system."},"browserExtensions":{"items":{"properties":{"extensionId":{"type":"string","description":"The identifier of the browser extension."},"name":{"type":"string","description":"The name of the browser extension."},"browser":{"description":"The type of browser. If you see something not on this list - if the browser is chromium based, use Chrome. Otherwise, skip sending the extension and contact Vanta for a longer term addition to this enum.","enum":["CHROME","FIREFOX","OPERA","SAFARI","EDGE"]}},"required":["extensionId","name","browser"]},"type":"array","description":"A list of browser extensions on this device. Used to match against known password managers to demonstrate use."},"drives":{"items":{"properties":{"name":{"type":"string","description":"The name of the drive."},"encrypted":{"type":"boolean","description":"Does the drive have some sort of encryption on it."},"isBootVolume":{"type":"boolean","description":"Metadata about the boot volume helps Vanta skip checking volumes that aren't relevant, like USB Drives."}},"required":["name","encrypted"]},"type":"array","description":"A list of drives on this device. Used to verify encryption status."},"users":{"items":{"properties":{"username":{"type":"string","description":"The user's username. Does not have to be unique."},"screenlockPolicies":{"items":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"type":"array","description":"If the source system cannot easily retrieve screenlock policies, it's OK to skip this data."},"screenlockSettings":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"lastLoginTimestamp":{"type":"string","format":"date-time","description":"The last time the user logged in to the device, if available."}},"required":["username","screenlockPolicies","screenlockSettings"]},"type":"array","description":"The human users of the system. If it's not feasible to send only human users, prefer skipping sending users entirely."},"systemScreenlockPolicies":{"items":{"properties":{"requiresPassword":{"type":"boolean","description":"After the screenlock takes effect, does the user have to enter a password to access their device."},"screenSleepTimeoutMs":{"type":"integer","format":"int32","description":"The timeout in milliseconds for screenlock to trigger."}},"required":["requiresPassword","screenSleepTimeoutMs"]},"type":"array","description":"System screenlock policy settings. Pass an empty list if this is tricky to retrieve for your system. Used for screenlock tests."},"isManaged":{"type":"boolean","description":"Is the system managed by a Mobile Device Management system."},"autoUpdatesEnabled":{"type":"boolean","description":"Does the system have auto-updates enabled."},"owner":{"type":"string","description":"The email address of the owner of the system, if it's known."},"passwordPolicy":{"properties":{"minimumLengthRequirement":{"type":"integer","format":"int32","description":"If the system has a password policy, what the minimum password length requirement is."}},"required":["minimumLengthRequirement"]},"lastEnrolledTimestamp":{"type":"string","format":"date-time","description":"A timestamp that indicates when the host computer was last enrolled within your system. If the computer has been un-enrolled and then re-enrolled, send data for the most recent enrollment."},"windowsSecurityProducts":{"items":{"properties":{"name":{"type":"string","description":"The name of the security product."},"category":{"description":"The category of the security product.","enum":["FIREWALL","ANTIVIRUS","ANTISPYWARE"]},"state":{"description":"The state of the security product.","enum":["ON","OFF","UNKNOWN"]},"stateTimestamp":{"type":"string","format":"date-time","description":"When this data was collected."},"signaturesUpToDate":{"type":"boolean","description":"Whether the security signatures are up to date."}},"required":["name","category","state","stateTimestamp","signaturesUpToDate"]},"type":"array","description":"A list of services that are monitored by Windows Security Center (WSC)."},"windowsSecurityCenter":{"properties":{"firewall":{"description":"The health of the monitored Firewall.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"autoupdate":{"description":"The health of the Windows Autoupdate feature.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"antivirus":{"description":"The health of the monitored Antivirus solution.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"internetSetting":{"description":"The health of the Internet Settings.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"userAccountControl":{"description":"The health of the User Account Control (UAC) capability in Windows.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]},"windowsSecurityCenterService":{"description":"The health of the Windows Security Center Service.","enum":["GOOD","POOR","SNOOZED","NOT_MONITORED","ERROR"]}},"required":["firewall","autoupdate","antivirus","internetSetting","userAccountControl","windowsSecurityCenterService"]}},"required":["displayName","uniqueId","externalUrl","collectedTimestamp","osName","osVersion","hardwareUuid","serialNumber","programs","browserExtensions","drives","users","systemScreenlockPolicies","isManaged","autoUpdatesEnabled"]}}}}}}},"responses":{"200":{"description":"The current resources synced.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}}}}}},"operationId":"put-WindowsUserComputer","summary":"Sync all Windows User Computers","description":"To send us data related to employee/contractor Windows computers, you send us `WindowsUserComputer` resources. This helps us determine important security properties, like whether devices have encrypted drives, have anti-virus installed or have password managers installed.\n\nThis call replaces ALL existing `WindowsUserComputer` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `WindowsUserComputer` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `WindowsUserComputer`.","tags":["Windows User Computers"]}}}}